@import "./fonts.css";

:root {
  --background-light: #222222; /* color de fondo */ /*antes 2 #fbfbfb */ /* antes 1 #ebe8db */
  --panel-light: #464646; /* color de pastillas */ /*antes #f2f3ff */ /*antes antes #ffe4e6 */
  --panel-transparent-light: color-mix(
    in oklab,
    var(--panel-light) 50%,
    transparent
  );
  --link-light: #eeeeee; /* color de los enlaces y los encabezados (los textos grandes) */ /*antes 3 #ccccff */ /*antes 2 #2b2257 */ /*antes 1 #ffe4e6 */
  --text-light: #cacaca; /* color de texto */ /*antes 3 #eeeeee */ /*antes 2 #8076b4 */ /*antes 1 #3d0301 */

  --background-dark: #56021f;
  --panel-dark: #cacaca; /*antes 3 #ccccff */ /*antes 2 #2b2257 */ /*antes 1 #7d1c4a */
  --panel-transparent-dark: color-mix(
    in oklab,
    var(--panel-dark) 30%,
    transparent
  );
  --link-dark: #d17d98;
  --text-dark: #f4cce9;
}

html {
  background-color: var(--background-light);
  color: var(--text-light);
  height: 100%;
  min-height: 100%;
}
html.dark {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

button {
  cursor: pointer;
}

.bg-primary {
  background-color: var(--panel-light);
}
.dark .bg-primary {
  background-color: var(--panel-dark);
}

a,
.text-link {
  color: var(--link-light);
}
.dark a,
.dark .text-link {
  color: var(--link-dark);
}

p,
.text-primary {
  color: var(--text-light);
}

.dark p,
.dark .text-primary {
  color: var(--text-dark);
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 1rem;
}

/* nav styles */

.menu-button-line {
  display: block;
  width: 32px;
  height: 4px;
  background-color: var(--panel-dark);
}
.menu-button-line:not(:last-child) {
  margin-bottom: 8px;
}

.dark .hamburger .line {
  background-color: var(--panel-dark);
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: var(--panel-transparent-light);
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
  background-color: var(--panel-transparent-dark);
}

.block_embed {
  margin: 16px auto;
  max-width: 960px;
}

.block_image,
.block_image-inner {
  margin: 0;
  padding: 0;
}

.block_image-inner {
  margin: 10px;
}

/* .block_embed-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
} */

.block_embed-inner iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.page-content img {
  max-width: 50%;
  width: 100%;
  margin: 0 auto;
}
