@import "@fontsource-variable/space-grotesk";

@import "tailwindcss";
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background-light: #222222; /* color de fondo */ /*antes 2 #fbfbfb */ /* antes 1 #ebe8db */
  --panel-light: #464646; /* color de pastillas */ /*antes #f2f3ff */ /*antes antes #ffe4e6 */
  --panel-transparent-light: color-mix(
    in oklab,
    var(--link-light) 25%,
    transparent
  );

  --link-light: #ccccff; /* color de los enlaces y los encabezados (los textos grandes) */ /*antes 3 #ccccff */ /*antes 2 #2b2257 */ /*antes 1 #ffe4e6 */
  --text-light: #ccccff; /* color de subtitulos */ /*antes 3 #eeeeee */ /*antes 2 #8076b4 */ /*antes 1 #3d0301 */
  --text-body: #eeeeee; /* color de texto normal */

  --link-light-transparent: color-mix(
    in oklab,
    var(--link-light) 50%,
    transparent
  );
}

/** Fuentes */
@theme {
  /** Para texto normal */
  --font-serif: "Bebas Neue", serif;
  /** Para encabezados */
  --font-sans: "Switzer", sans-serif;
}

.prose {
  color: var(--text-body);
}

.font-sans-2 {
  font-family: "General Sans", sans-serif;
}

html {
  background-color: var(--background-light);
  color: var(--text-body);
  height: 100%;
  min-height: 100%;
}

button {
  cursor: pointer;
}

.bg-primary {
  background-color: var(--panel-light);
}

a,
.text-link {
  color: var(--link-light);
}

p {
  color: var(--text-body);
}

.text-primary {
  color: var(--text-light);
}

.text-body {
  color: var(--text-body);
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 1rem;
}

/* nav styles */

.menu-button-line {
  display: block;
  width: 32px;
  height: 4px;
  background-color: var(--text-light);
}
.menu-button-line:not(:last-child) {
  margin-bottom: 8px;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: var(--panel-transparent-light);
}

.block_embed {
  margin: 16px auto;
  max-width: 960px;
}

.block_image,
.block_image-inner {
  margin: 0;
  padding: 0;
}

.block_image-inner {
  margin: 10px;
}

/* .block_embed-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
} */

.block_embed-inner iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.page-content img {
  max-width: 50%;
  width: 100%;
  margin: 0 auto;
}
