@import "./fonts.css";

:root {
  --background-light: #fbfbfb; /* color de fondo */ /*antes #ebe8db */
  --panel-light: #f2f3ff; /* color de pastillas */ /*antes #ffe4e6 */
  --panel-transparent-light: color-mix(
    in oklab,
    var(--panel-light) 50%,
    transparent
  );
  --link-light: #2b2257; /* color de los enlaces y los encabezados (los textos grandes) */ /*antes #ffe4e6 */
  --text-light: #8076b4; /* color de texto */ /*antes #3d0301 */

  --background-dark: #56021f;
  --panel-dark: #7d1c4a;
  --panel-transparent-dark: color-mix(
    in oklab,
    var(--panel-dark) 30%,
    transparent
  );
  --link-dark: #d17d98;
  --text-dark: #f4cce9;
}

html {
  background-color: var(--background-light);
  color: var(--text-light);
  height: 100%;
  min-height: 100%;
}
html.dark {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

.bg-primary {
  background-color: var(--panel-light);
}
.dark .bg-primary {
  background-color: var(--panel-dark);
}

a,
.text-link {
  color: var(--link-light);
}
.dark a,
.dark .text-link {
  color: var(--link-dark);
}

p,
.text-primary {
  color: var(--text-light);
}

.dark p,
.dark .text-primary {
  color: var(--text-dark);
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 1rem;
}

/* nav styles */

.menu-button-line {
  display: block;
  width: 32px;
  height: 4px;
  background-color: var(--panel-light);
}
.menu-button-line:not(:last-child) {
  margin-bottom: 8px;
}


.dark .hamburger .line {
  background-color: var(--panel-dark);
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: var(--panel-transparent-light);
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
  background-color: var(--panel-transparent-dark);
}

.block_embed {
  margin: 16px auto;
  max-width: 960px;
}

.block_embed-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.block_embed-inner iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
