---
import { getTranslations } from "../../lib/directus";
import type { BlockHeading } from "../../lib/directus.types";
import { i18nConfig } from "../../lib/i18n";

interface Props {
  block: BlockHeading;
}

const language = Astro.currentLocale ?? i18nConfig.defaultLocale;
const block = Astro.props.block;
const translations = getTranslations(block.translations, language);
const title = translations?.title;
const subtitle = translations?.subtitle;
---

<h2>{title}</h2>
<h3>{subtitle}</h3>
