---
import type { PageBlockItem, PageBlocks } from "../lib/directus.types";
import ColumnGroup from "./blocks/ColumnGroup.astro";
import Embed from "./blocks/Embed.astro";
import Hero from "./blocks/Hero.astro";
import Image from "./blocks/Image.astro";
import Posts from "./blocks/Posts.astro";
import RichText from "./blocks/RichText.astro";

interface Props {
  blocks: PageBlocks[];
}

const blocks = (Astro.props.blocks ?? [])
  .filter((b) => !b.hide_block && b.item)
  .sort((a, b) => (a.sort ?? 0) - (b.sort ?? 0));
---

<div class="blocks">
  {
    blocks.map((b) => {
      const componentMap = {
        block_richtext: RichText,
        block_posts: Posts,
        block_embed: Embed,
        block_hero: Hero,
        block_columns: ColumnGroup,
        block_image: Image
      };
      const Component = (componentMap[
        b.collection as keyof typeof componentMap
      ] || (() => `Component "${b.collection}" not found`)) as ({
        block,
      }: {
        block: PageBlockItem;
      }) => null;

      return (
        <section class={`block-wrapper ${b.collection} my-2`}>
          <div
            class={`${b.collection}-inner px-3 py-1 rounded-lg`}
          >
            <Component block={b.item as PageBlockItem} />
          </div>
        </section>
      );
    })
  }
</div>
