---

---

<div class="flex items-center gap-2">
  <p class="text-sm">Menu</p>
  <button aria-label="toggle menu" id="menu-button" class="block">
    <span class="menu-button-line"></span>
    <span class="menu-button-line"></span>
    <span class="menu-button-line"></span>
  </button>
  <script is:inline>
    document.querySelector("#menu-button").addEventListener("click", () => {
      document.querySelector("#nav-links").classList.toggle("hidden");
    });
  </script>
</div>