---

---

<div>
  <button aria-label="Menu" id="menu-button" class="flex items-center gap-1 group">
    <p class="text-sm hidden sm:block">Menu</p>
    <div class="p-2 group-hover:opacity-60 transition-colors rounded-lg">
      <span class="menu-button-line"></span>
      <span class="menu-button-line"></span>
      <span class="menu-button-line"></span>
    </div>
  </button>
  <script is:inline>
    document.querySelector("#menu-button").addEventListener("click", () => {
      document.querySelector("#nav-links").classList.toggle("is-hidden");
    });
  </script>
</div>