---
import { getRelativeLocaleUrl } from "astro:i18n"
import { transformMediaInHTML } from "../lib/directus"

export type PostDetail = {
  id: string
  title: string
  content: string
  description: string
  date: string
  image: string
}

interface Props {
  post: PostDetail
}

const post = Astro.props.post
const lang = Astro.params.lang!

const content = transformMediaInHTML(post.content)
const description = transformMediaInHTML(post.description)
---

<div class="max-w-prose mx-auto mt-4">
  <a
    id="back-button"
    class="my-2 inline-block text-lg font-medium hover:bg-gray-500/10 px-2 py-1 rounded-md"
    href={getRelativeLocaleUrl(lang, "/archive", { normalizeLocale: false })}
    >&#8672; Back</a
  >
  <h2 class="text-link mb-8 text-3xl font-medium">{post.title}</h2>
  <div
    class="prose mt-2 mb-6 flex-grow dark:prose-invert prose-headings:underline prose-h1:text-xl prose-h1:font-bold prose-p:text-justify prose-a:text-blue-500 prose-img:rounded-lg prose-video:w-full prose-video:my-2"
  >
    <Fragment set:html={content} />
  </div>
  {
    post.description ? (
      <div class="prose mt-2 mb-6 dark:prose-invert prose-headings:underline prose-h1:text-xl prose-h1:font-bold prose-p:text-justify prose-a:text-blue-500 prose-img:rounded-xl">
        <Fragment set:html={description} />
      </div>
    ) : null
  }
</div>
<script>
  const backButton = document.getElementById("back-button")
  backButton?.addEventListener("click", (ev) => {
    const cameFromFeed = sessionStorage.getItem("artist_portfolio:from_feed")
    if (cameFromFeed === "true") {
      ev.preventDefault()
      history.back()
    }
  })
</script>
