---
import BaseLayout from "../../layouts/BaseLayout.astro";
import directus, { getTranslations } from "../../lib/directus";
import { readItems } from "@directus/sdk";
import type { PageBlocks } from "../../lib/directus.types";
import Blocks from "../../components/Blocks.astro";
import { i18nConfig } from "../../lib/i18n";

export function getStaticPaths() {
  return i18nConfig.locales.map((lang) => ({ params: { lang } }));
}

const language = (Astro.params.lang as string) ?? i18nConfig.defaultLocale;

const pages = await directus.request(
  readItems("pages", {
    filter: {
      permalink: {
        _eq: "/",
      },
    },
    fields: [
      "*",
      { translations: ["*"] },
      {
        blocks: [
          "*",
          {
            item: {
              block_posts: ["*"],
              block_categories: [
                "*",
                {
                  categories: [
                    "*",
                    { categories_id: ["*", { translations: ["*"] }] },
                  ],
                },
              ],
              block_form: ["*"],
              block_gallery: ["*"],
              block_heading: ["*", { translations: ["*"] }],
              block_hero: ["*", { translations: ["*"] }],
              block_richtext: ["*", { translations: ["*"] }],
            },
          },
        ],
      },
    ],
    limit: 1,
  }),
);

const translation = getTranslations(pages[0]?.translations, language);
const title = translation?.title ?? "";
// const description = translation?.description ?? ''
const blocks = pages[0]?.blocks as PageBlocks[];
---

<BaseLayout>
  <!-- <h2>{description}</h2> -->
  <Blocks blocks={blocks} />
</BaseLayout>
