---
import Blocks from "../../components/Blocks.astro"
import PostDetail from "../../components/PostDetail.astro"
import type { PostDetail as PostDetailType } from "../../components/PostDetail.astro"
import BaseLayout from "../../layouts/BaseLayout.astro"
import {
  getPage,
  getTranslations,
  getPost,
  formatImageURL,
getCategories,
} from "../../lib/directus"
import type { PageBlocks, Posts } from "../../lib/directus.types"
import { i18nConfig } from "../../lib/i18n"

export const prerender = false

const token = import.meta.env.DIRECTUS_TOKEN
const params = Astro.url.searchParams
const previewToken = params.get("token")?.trim()
const id = params.get("id")?.trim()
const type = params.get("type")?.trim()
const lang = params.get("lang")?.trim() ?? i18nConfig.defaultLocale

if (previewToken !== token) {
  console.error(`Invalid preview token in URL: ${previewToken}`)
  throw new Error("Invalid preview token in URL")
}

let title = ""
let blocks = [] as PageBlocks[]
let showTitle = "yes"
let postDetail = null as PostDetailType | null

if (id) {
  if (type === "page") {
    const page = await getPage(id!)
    const translations = getTranslations(page.translations, lang)
    if (id !== "/") {
      title = translations?.title ?? ""
    }
    showTitle = page.show_title ?? "yes"
    blocks = page.blocks.filter((b) => b && typeof b !== "string") as PageBlocks[]
  }
  if (type === "category") {
    Astro.locals.previewCategory = id
    const categories = await getCategories(lang)
    const category = categories.find((cat) => cat.id === id)
    if (category) {
      title = category.name ?? ''
      showTitle = "no"
      blocks = category.blocks.filter(b => b && typeof b !== "string") as PageBlocks[]
    }
  }
  if (type === "post") {
    const post = (await getPost(id)) as Posts
    const translations = getTranslations(post.translations, lang)
    const title = translations?.title ?? ""
    const content = translations?.content ?? ""
    const description = translations?.description ?? ""
    const imageFile =
      typeof post.image === "object" && post.image ? post.image : null
    postDetail = {
      id: post.id,
      title,
      content,
      description,
      date: new Date(post.published_at ?? "").toLocaleDateString(),
      image: formatImageURL(imageFile?.id, undefined, imageFile?.type) ?? "",
    }
  }
}
---

<BaseLayout showTitle={showTitle === "yes"} pageTitle={title}>
  <div class="fixed top-0 right-0">
    <p class="bg-white px-2 py-1 text-sm font-bold text-white">Preview</p>
  </div>
  {
    type === "post" ? (
      postDetail ? (
        <PostDetail post={postDetail} />
      ) : (
        <p>Post not found</p>
      )
    ) : (
      <Blocks blocks={blocks} />
    )
  }
</BaseLayout>
